.menu {
  width: 100%;
  height: 100%;
  padding: 18px;
}

.menu_btn {
  width: 60px;
  height: 60px;
  font-size: 50px;
  padding: 5px;
  color: white;
}

.app-menu {
  color: #000;
  height: 100vh;
  width: 25rem;
  background-color: #fff;
  z-index: 150;

  transform: translateX(-100%);
  transition: 0.3s;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 20px;
  position: fixed;
  left: 0;
  top: 0;


}

.menu-open {
  transform: translateX(0%);
  /* margin-left: 300px; */
}

.dimmer-active {
  /* background: unset !important; */
  width: 300px;
  height: 100vh;
  background-color: red;
}

.modal {
  position: fixed;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  /* height: ato; */
  min-width: 20rem;
  /* min-height: 25rem; */
  /* background-color: rgb(228, 228, 228); */
  border-radius: 30px;
  z-index: 200;
  display: flex;
  flex-direction: column;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin-top: 3rem;
  border-radius: 3px;
  max-width: 600px;
  /* padding: 2rem */
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  float: right;
}