.home_container {
    width: 100%;
    height: auto;
    background-image: url(../../assets/imgs/wall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}